{% extends "index.html" %}

{% block title %}
    History
{% endblock %}

{% block content %}
    <div class="container">
        {% if not records %}
            <h1>
                <a href="../"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                This is not the Doctor you are looking for
            </h1>
        {% else %}
            <div class="page-header">
                <h1>
                    <a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    History of {{ doctor }}
                    <a href="#charts"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
                </h1>
            </div>

            <table class="table table-hover table-condensed">
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}

                </tr>
                {% for record in records %}
                    {% set record_loop = loop %}
                    <tr>
                        {% for field in fields %}

                            <td>   {{ record[field] }}
                                <small>
                                    {% if difs[record_loop.index-1][field] > 0 %}
                                        <span class="label label-success">+

                                    {% elif difs[record_loop.index-1][field] == 0 %}
                                        <span class="label label-default">

                                    {% else %}
                                        <span class="label label-danger">
                                    {% endif %}
                                    {{ difs[record_loop.index-1][field] }}</span>
                                </small>
                            </td>

                        {% endfor %}
                        <td>{{ record.date.strftime('%d-%m-%Y %H:%M') }}</td>

                    </tr>
                {% endfor %}

            </table>
            <hr>
        {% endif %}
        <h2 id="charts">Graph of {{ draw_field }}</h2>

        <div class="col-md-10">
            <div id="visualization"></div>
        </div>
        <div class="col-md-2">
            <div class="btn-group-vertical" role="group">
                {% for field in fields %}
                    <a class=
                               {% if field == draw_field %}
                                   "btn btn-primary active"
                               {% else %}
                                   "btn btn-default" href="./?draw={{ field }}#charts"
                               {% endif %}
                    role="button">{{ headers[loop.index-1] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <script>
        draw_hist_words({{ difs|safe }}, {{ draw_dates | safe }}, "{{ draw_field | safe }}");
    </script>
    </div>
{% endblock %}