{% extends "index.html" %}

{% block title %}

    User interface
{% endblock %}
{% block user_area %}
    <div align="right">
        <a href="{{ logout_url }}">Log out <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                <a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                <a href="/hist/{{ login }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
                <a href="/hist/{{ login }}#charts"><span class="glyphicon glyphicon-stats"
                                                         aria-hidden="true"></span></a>
                {{ login }} Info
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron col-md-11">
                <p>User: {{ name }}</p>
                <p>Code: {{ code }}</p>
        </div>
        <h2>Instructions (linux)</h2>
            <ol class="list-group">
            <li>Download the <a href="/client/scripts/tesismometro.sh" target="_blank">bash script</a>
                in the thesis directory.</li>
            <li>Modify the current fields in the script</li>
                <ol>
                    <li><code>ROOT</code>: Name of the latex main file (without extension)</li>
                    <li><code>USER</code>: {{ name }}</li>
                    <li><code>TOKEN</code>: {{ code }}</li>
                </ol>
            <li>Execute the script: <code>./tesismometro.sh</code></li>
        </ol>
        </p>
        </div>
    </div>
{% endblock %}